#bigBox{
    height: 100%;
    width: 100%;
}

.card-tile{
    border-radius: 5px;
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(202, 200, 200);
    border-top:  5px solid rgb(128, 128, 255);
    width: 400px;
    margin: auto;
    cursor: pointer;
    transition: background-color .25s, color .25s, transform .5s;
    padding: 30px 20px;
    margin-bottom: 10px;
}
.card-tile:hover {
    background-color: rgb(50, 59, 59);
    color: white;
    transform: scale(1.2);
}

.card-tile:hover .circle {
    background: white;
    color: rgb(50, 59, 59);
}

.circle {
    width: 80px;
    line-height: 80px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: rgb(128, 128, 255);
    display: inline-block;
}

.hot-red {
    border-top:  5px solid rgb(250, 114, 114);
}

.hot-red .circle {
    background: rgb(250, 114, 114);
}

.derek {
    border-top:  5px solid dodgerblue;
}

.derek .circle {
    background: dodgerblue;
}